.jcarousel-wrapper {
    overflow: hidden;
    margin: 20px auto;
    position: relative;
}

/** Carousel **/

.slider-home {
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    width: 100%;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    width: 26px;
    height: 44px;
    text-indent: -9999px;
}

.jcarousel-control-prev {
    left: 15px;
    background: url("../images/content/slide_triagle_left.png") no-repeat;
}

.jcarousel-control-next {
    right: 15px;
    background: url("../images/content/slide_triagle_right.png") no-repeat;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    position: relative;
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 16px;
    width: 16px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border: 1px solid #000;
    border-radius: 16px;
    text-indent: -9999px;

    margin-right: 7px;
}

.jcarousel-pagination a.active:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 12px;
    width: 12px;
    background: #e4282f;
    color: #fff;
    opacity: 1;
    border-radius: 16px;
}
