/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px Arial, sans-serif; background:#fff; color:#000; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; }
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Arial, sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

.bor-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.btn {
    background: url("../images/btn_bg.png") repeat-x;
    background-size: 100% 100%;
    border: none;
    color: #fff;
    font-size: 18px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.btn:hover {
    background: #B5171D;
}
.search {
    display: block;
    width: 156px;
    padding: 7px 0 6px 10px;
    border: none;
    font-size: 14px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
    font-family: 'pfbeau';
    src: url('../fonts/PFBeauSansPro-Regular.eot');
    src: url('../fonts/PFBeauSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFBeauSansPro-Regular.woff') format('woff'),
    url('../fonts/pfbeausanspro-reg.ttf') format('truetype'),
    url('../fonts/PFBeauSansPro-Regular.svg#pf_agora_sans_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    overflow: hidden;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}
.custom-footer {
    min-height: 100%;
}
    .custom-footer:after {
        content: '';
        display: block;
        height: 110px;
        width: 100%;
    }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-header,
.wrap-footer {
    background: #004937;
}
    .header {
        padding: 20px 0 30px;
        color: #fff;
        text-align: center;
    }
        .header a,
        .footer a {
            color: #fff;
            text-decoration: none;
        }
        .main-logo {
            float: left;
        }
            .main-logo img {
                display: block;
                margin-bottom: 5px;
            }
            .main-logo span {
                text-transform: uppercase;
                font-size: 10px;
                letter-spacing: 2px;
            }
        .header .right-colum {
            float: right;
        }
            .header .right-colum .btn-header {
                display: block;
                width: 156px;
                padding: 6px 0 5px;
                margin-bottom: 15px;
            }
        .contact-header {
            overflow: hidden;
            display: inline-block;
            margin-top: 25px;
            text-align: center;
            font: 14px 'pfbeau';
        }
            .contact-header .top {
                overflow: hidden;
                margin-bottom: 10px;
                font-size: 18px;
            }
                .contact-header .top li {
                    display: inline-block;
                    margin-left: 25px;
                    font-size: 26px;
                }
                .contact-header .top li:first-child {
                    margin-left: 0;
                }
                .contact-header .top .tell span,
                .contact-header .top .time {
                    color: #62e1a4;
                }
                .contact-header .top .tell,
                .contact-header .top .time {
                    padding-left: 55px;
                }
                .contact-header .top .tell {
                    background: url("../images/header/icon_tell.png") no-repeat;
                }
                .contact-header .top .time {
                    background: url("../images/header/icon_time.png") no-repeat;
                }
            .contact-header .bottom {
                display: block;
                text-align: left;
            }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
    .footer {
        position: relative;
        padding: 17px 0 20px;
        margin-top: -110px;
        color: #fff;
    }
        .logo-footer {
            float: left;
        }
            .logo-footer img {
                display: block;
                margin-bottom: 10px;
            }
            .logo-footer span {
                text-transform: uppercase;
                font-size: 9px;
                letter-spacing: 0.6px;
            }

        .nav-footer  {
            float: right;
            overflow: hidden;
            margin-top: 17px;
        }
            .nav-footer li {
                float: left;
                margin-left: 3px;
            }
                .nav-footer li:before {
                    content: '|';
                    margin-right: 3px;
                }
                .nav-footer li:first-child:before {
                    display: none;
                }
                .nav-footer li a {
                    font-size: 11px;
                }
                .nav-footer li a:hover {
                    text-decoration: underline;
                }

        .contact-box {
            position: absolute;
            bottom: 17px;
            right: 0;
            font-size: 14px;
        }
            .contact-box span {
                color: #62e1a4;
            }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/