/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px Arial, sans-serif; background:#fff; color:#000; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; }
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Arial, sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

.bor-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.btn {
    background: url("../images/btn_bg.png") repeat-x;
    background-size: 100% 100%;
    border: none;
    color: #fff;
    font-size: 18px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.btn:hover {
    background: #B5171D;
}
.search {
    display: block;
    width: 156px;
    padding: 7px 0 6px 10px;
    border: none;
    font-size: 14px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.border {
    padding-top: 35px;
    border-top: 1px solid #A1A1A1;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
    font-family: 'pfbeau';
    src: url('../fonts/PFBeauSansPro-Regular.eot');
    src: url('../fonts/PFBeauSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFBeauSansPro-Regular.woff') format('woff'),
    url('../fonts/pfbeausanspro-reg.ttf') format('truetype'),
    url('../fonts/PFBeauSansPro-Regular.svg#pf_agora_sans_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    overflow: hidden;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}
.custom-footer {
    min-height: 100%;
}
    .custom-footer:after {
        content: '';
        display: block;
        height: 110px;
        width: 100%;
    }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-header,
.wrap-footer {
    background: #004937;
}
    .header {
        padding: 20px 0 30px;
        color: #fff;
        text-align: center;
    }
        .header a,
        .footer a {
            color: #fff;
            text-decoration: none;
        }
        .main-logo {
            float: left;
        }
            .main-logo img {
                display: block;
                margin-bottom: 5px;
            }
            .main-logo span {
                text-transform: uppercase;
                font-size: 10px;
                letter-spacing: 2px;
            }
        .header .right-colum {
            float: right;
        }
            .header .right-colum .btn-header {
                display: block;
                width: 156px;
                padding: 6px 0 5px;
                margin-bottom: 15px;
            }
        .contact-header {
            overflow: hidden;
            display: inline-block;
            margin-top: 25px;
            text-align: center;
            font: 14px 'pfbeau';
        }
            .contact-header .top {
                overflow: hidden;
                font-size: 18px;
            }
                .contact-header .top li {
                    display: inline-block;
                    margin-left: 25px;
                    margin-bottom: 10px;
                    font-size: 26px;
                }
                .contact-header .top li:first-child {
                    margin-left: 0;
                }
                .contact-header .top .tell span,
                .contact-header .top .time {
                    color: #62e1a4;
                }
                .contact-header .top .tell,
                .contact-header .top .time {
                    padding-left: 55px;
                }
                .contact-header .top .tell {
                    background: url("../images/header/icon_tell.png") no-repeat;
                }
                .contact-header .top .time {
                    background: url("../images/header/icon_time.png") no-repeat;
                }
            .contact-header .bottom {
                display: block;
                text-align: left;
            }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.nav-main {
    overflow: hidden;
    margin: 25px 0;
}
    .nav-main li {
        float: left;
        margin-left: 2px;
    }
    .nav-main li:first-child {
        margin-left: 0;
    }
        .nav-main li:before {
            content: '';
            display: inline-block;
            padding: 11px 0;
            margin: 0 3px -7px 0;
            width: 1px;
            background: #A1A1A1;
        }
        .nav-main li:first-child:before {
            display: none;
        }
            .nav-main a {
                display: inline-block;
                padding: 10px 2px 10px 3px;
                text-decoration: none;
                font-size: 13px;
            }
            .nav-main a:hover,
            .nav-main .active a {
                color: #fff;
                background: url("../images/btn_bg.png") repeat-x;

                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
            .nav-main .active a {
                pointer-events: none;
            }

.btn-menu {
    overflow: hidden;
    display: none;
}
.tbl-toggle {
    overflow: hidden;
}

.btn-toggle {
    display: inline-block;
    color: #004937;
    line-height: 5px;
    font-size: 19px;
    padding: 2px 4px 5px;
    margin: 10px 15px;
    border: 1px solid #004937;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.nav-footer .btn-toggle {
    border: 1px solid #fff;
    color: #fff;
}
.btn-toggle:after,
.btn-toggle:before {
    display: block;
    content: '\2014';
    color: #004937;
}
.nav-footer .btn-toggle:after,
.nav-footer .btn-toggle:before {
    color: #fff;
}

.slider-home li {
    position: relative;
}
    .slider-home .description-slide {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 12%;
        font-family: 'pfbeau';
        color: #fff;
    }
        .description-slide .wrap {
            display: table;
            height: 100%;
        }
            .description-slide .wrap > div {
                display: table-cell;
                vertical-align: middle;
            }
                .description-slide .header {
                    padding-top: 0;
                    font-size: 60px;
                    font-weight: bold;
                    text-align: left;
                    padding-bottom: 10px;
                }
                .description-slide .middle {
                    display: block;
                    margin-bottom: 25px;
                    font-size: 36px;
                    font-weight: bold;
                }
                .description-slide .bottom {
                    font-size: 24px;
                }

.main {
    overflow: hidden;
    margin-bottom: 30px;
}
    .header-page {
        overflow: hidden;
        display: block;
        margin-bottom: 25px;
    }
    .sub-header {
        margin-bottom: 30px;
        font: 24px 'pfbeau';
    }
    .sub-header h2 {
        font: 24px 'pfbeau';
    }
        .size-foto {
            font: 18px 'pfbeau';
        }
        .header-page h1,
        .header-page h2,
        .header-page span {
            display: inline-block;
            font: 36px 'pfbeau';
        }
        .wrap-list-good {
            overflow: hidden;
            padding-bottom: 35px;
        }
            .list-good {
                overflow: hidden;
                text-align: center;
            }
                .list-good li {
                    display: inline-table;
                    width: 31.5%;
                    margin: 0 0 15px 2%;
                    text-align: center;
                }
                .list-good li:nth-child(3n + 1) {
                    margin-left: 0;
                }
                    .list-good .wrap {
                        padding: 15px 6.5%;
                        border: 1px solid #000;
                        font-size: 18px;
                    }
                        .list-good img {
                            width: 100%;
                            margin-bottom: 10px;
                        }
                        .list-good span {
                            display: block;
                        }
                        .list-good .name {
                            margin-bottom: 5px;
                            font-weight: bold;
                        }
                        .list-good .size {
                            margin-bottom: 10px;
                        }
                        .list-good .price {
                            display: block;
                            margin-bottom: 15px;
                            font-size: 30px;
                            color: #e4282f;
                        }
                        .list-good .btn,
                        .rg-image-wrapper .btn {
                            width: 100%;
                            padding: 9px 0;
                        }
                        .rg-image-wrapper .btn {
                            max-width: 202px;
                            margin: 20px 0 15px;
                        }
        a.see-more,
        .desc-list {
            float: right;
            margin-top: 15px;
            font-size: 18px;
            text-decoration: none;
            text-align: right;
        }
        a.see-more:hover {
            color: #e4282f;
        }

        .wrap-advantages {
            overflow: hidden;
            padding: 18px 3.4%;
            margin-bottom: 35px;
            border: 1px solid #035641;
            border-top: none;
            background: url("../images/content/line_blue.png") repeat-y;
            background-size: 100% 100%;
            color: #fff;
            font-size: 15px;
        }
            .wrap-advantages .name-block {
                display: block;
                margin-bottom: 30px;
                font: 32px 'pfbeau';
            }
            .advantages2 .name-block {
                margin-bottom: 16px;
                font-size: 28px;
            }
            .list-our-advantages {
                overflow: hidden;
            }
                .list-our-advantages li {
                    float: left;
                    width: 49%;
                    margin-left: 2%;
                }
                .list-our-advantages li:first-child {
                    margin-left: 0;
                }
                    .list-our-advantages .wrap-text {
                        display: table;
                        width: 100%;
                        min-height: 42px;
                        margin-bottom: 15px;
                    }
                        .list-our-advantages .number {
                            display: table-cell;
                            width: 41px;
                            text-align: center;
                            font: bold 32px 'pfbeau';
                            background: url("../images/content/bg_number.png") no-repeat;
                        }
                        .list-our-advantages .text {
                            display: table-cell;
                            padding-left: 4px;
                            vertical-align: top;
                        }
                        .advantages2 .list-our-advantages .text {
                            vertical-align: middle;
                            font-size: 21px;
                        }
                        .list-advantages-portfolio .text {
                            font-size: 22px;
                        }

        .wrap-form {
            float: right;
            width: 250px;
            margin: 0 0 35px 4.5%;
            padding: 20px 25px;
            border: 1px solid #98BAB5;
            background: #D6E8E1;
        }
        .box-review .wrap-form {
            margin-top: 53px;
        }
            .wrap-form .name-form {
                display: block;
                margin-bottom: 20px;
                font-size: 24px;
            }
                .wrap-form .text,
                .wrap-form .tell {
                    width: 100%;
                    height: 32px;
                    padding-left: 10px;
                    margin-bottom: 20px;
                    font-size: 18px;
                    border: 1px solid #98BAB5;

                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                }
                .wrap-form .btn {
                    width: 100%;
                    height: 39px;
                }

        .name-section {
            margin-bottom: 17px;
            font: 30px 'pfbeau';
        }
        .list-working {
            text-align: center;
        }
            .list-working li {
                display: inline-table;
                width: 14%;
                margin-bottom: 30px;
            }
                .list-working .wrap {
                    max-width: 130px;
                    width: 100%;
                }
                    .list-working .wrap-foto {
                        display: block;
                        padding: 0 15%;
                        margin-bottom: 20px;
                        text-align: center;
                    }
                        .list-working img {
                            width: 100%;
                            max-width: 69px;
                        }
                    .list-working .description {
                        display: block;
                        text-align: center;
                        font-size: 18px;
                    }
        .tbl-reasons {
            width: 100%;
            margin-bottom: 35px;
        }
            .tbl-reasons th,
            .tbl-reasons td {
                width: 50%;
                padding: 12px 0 12px 35px;
                text-align: left;
            }
            .tbl-reasons th {
                padding: 10px 0 10px 35px;
            }
            .tbl-reasons th {
                font: 24px 'pfbeau';
                color: #fff;
                background: #004C39;
                border: 2px solid #fff;
            }
            .tbl-reasons td {
                font-size: 20px;
                border: 2px solid #fff;
            }
            .tbl-reasons tr:nth-child(2n) {
                background: #62C8AE;
            }
            .tbl-reasons tr:nth-child(2n + 1) {
                background: #D7F7EF;
            }
        .list-review {
            overflow: hidden;
        }
            .list-review li {
                position: relative;
                float: left;
                width: 47%;
                margin-left: 6%;
            }
                .list-review li:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 19px;
                    height: 15px;
                    background: url("../images/content/quetes1.png") no-repeat;
                }
                .list-review li:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    display: block;
                    width: 19px;
                    height: 15px;
                    background: url("../images/content/quetes2.png") no-repeat;
                }
            .list-review li:first-child {
                margin-left: 0;
            }
                .list-review .name {
                    display: block;
                    margin-bottom: 15px;
                    padding-left: 25px;
                    font-size: 22px;
                }
                .list-review .text {
                    display: block;
                    padding-left: 25px;
                    font-size: 18px;
                }
    .pagination {
        overflow: hidden;
        text-align: center;
    }
        .pagination li {
            display: inline-block;
            margin-left: 7px;
        }
        .pagination li:first-child {
            margin-left: 0;
        }
            .pagination a {
                display: block;
                padding: 10px 13px;
                text-decoration: none;
                background: #CECCCC;
                font-size: 18px;
            }
            .pagination .active a,
            .pagination li:hover a{
                background: #E4282F;
                color: #fff;
            }

    .examples-works {
        overflow: hidden;
        margin-bottom: 30px;
    }

            .list-works-example li {
                float: left;
                width: 23%;
                margin-left: 2%;
                margin-bottom: 15px;
            }
            .list-works-example li:nth-child(4n + 1) {
                margin-left: 0;
            }
                .list-works-example .wrap {
                    padding: 15px 8% 5px;
                    border: 1px solid #CECECE;
                    font-size: 22px;
                    font-weight: bold;
                    text-align: center;
                }
                .list-works-example .wrap:hover {
                    cursor: pointer;
                    border-color: #A1A1A1;

                    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow:    0px 0px 3px 0px rgba(0, 0, 0, 0.75);
                    box-shadow:         0px 0px 3px 0px rgba(0, 0, 0, 0.75);
                }
                    .list-works-example img {
                        width: 100%;
                        margin-bottom: 7px;
                    }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/
#toggle-btn-side-bar {
    display: none;
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    background: url("../images/content/triagle_right.png") repeat-y #D6E8E1;
    cursor: pointer;
}
.active #toggle-btn-side-bar {
    background: url("../images/content/triagle_left.png") repeat-y;
}
.wrap-side-bar {
    position: relative;
    float: left;
    width: 167px;
    min-width: 32px;
    padding: 15px 25px;
    margin: 0 3% 30px 0;
    border: 1px solid #98BAB5;
    background: #D6E8E1;
}
.home .wrap-side-bar {
    margin-top: 10px;
}
    .side-bar > li {
        padding-top: 25px;
        border-top: 1px solid #98BAB5;
    }
    .side-bar > li:first-child {
        padding-top: 0;
        border: none;
    }
        .side-bar h2 {
            margin-bottom: 25px;
            font: 24px 'pfbeau';
            cursor: pointer;
        }
        .side-bar .no-toggle h2 {
            cursor: default;
        }
        .list-side-bar {
            margin-bottom: 25px;
        }
            .list-side-bar > li > a {
                display: block;
                width: 167px;
                margin: 0 0 5px -16px;
                padding: 5px 16px;
                font-size: 14px;
                text-decoration: none;
            }
            .list-side-bar > li > a:hover {
                display: block;
                padding: 5px 16px;
                background: #62C8AE;
                color: #fff;

                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
            .list-side-bar .active > a {
                margin-bottom: 10px;
            }
            .list-side-bar .active > a:hover {
                border: none;
                padding-bottom: 5px;
            }
            .sub-menu-side-bar {
                display: none;
                margin-bottom: 15px;
                padding-left: 13px;
            }
                .sub-menu-side-bar li {
                    margin-bottom: 10px;
                }
                .sub-menu-side-bar li:last-child,
                .list-side-bar li:last-child .sub-menu-side-bar {
                    margin-bottom: 0;
                }
                .sub-menu-side-bar li:before {
                    content: '\2013';
                    display: inline-block;
                    margin-right: 5px;
                }
                .sub-menu-side-bar > li a {
                    padding-bottom: 1px;
                    font-size: 14px;
                    text-decoration: none;
                }
                .sub-menu-side-bar > li a:hover {
                    padding-bottom: 0;
                    border-bottom: 1px solid #000;
                }
    .wrap-list-review {
        margin-bottom: 20px;
    }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
    .footer {
        position: relative;
        padding: 17px 0 20px;
        margin-top: -110px;
        color: #fff;
    }
        .logo-footer {
            float: left;
        }
            .logo-footer img {
                display: block;
                margin-bottom: 10px;
            }
            .logo-footer span {
                text-transform: uppercase;
                font-size: 9px;
                letter-spacing: 0.6px;
            }

        .nav-footer  {
            float: right;
            overflow: hidden;
            margin-top: 17px;
        }
            .nav-footer li {
                float: left;
                margin-left: 3px;
            }
                .nav-footer li:before {
                    content: '|';
                    margin-right: 3px;
                }
                .nav-footer li:first-child:before {
                    display: none;
                }
                .nav-footer li a {
                    font-size: 11px;
                }
                .nav-footer li a:hover {
                    text-decoration: underline;
                }

        .contact-box {
            position: absolute;
            bottom: 20px;
            right: 0;
            font-size: 14px;
        }
            .contact-box span {
                color: #62e1a4;
            }
/*----------------------------------------------------------------------------------*/
/*--------------------------------SLIDER INNER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.rg-image-wrapper{
    position:relative;
    min-height:20px;
    padding: 0 35px;
    text-align: center;
}
.rg-image{
    display: inline-block;
    position:relative;
    text-align:center;
    width: 100%;
}
.rg-image img{
    width:100%;
    border: 1px solid #a1a1a1;
    max-width: 660px;
    max-height: 530px;
}
.rg-image-nav a{
    z-index: 100;
    position:absolute;
    top:50%;
    left:0;
    width:14px;
    height:34px;
    margin-top: -17px;
    text-indent:-9000px;
    cursor:pointer;
    outline:none;
    background: url("../images/inner_slider/triagle_inner_slider_left.png") no-repeat;
}
.rg-image-nav a.rg-image-nav-next{
    right:0;
    left:auto;
    background: url("../images/inner_slider/triagle_inner_slider_right.png") no-repeat;
}
.rg-image-nav a:hover{
    opacity:0.8;
}

.es-carousel-wrapper{
    padding:10px 33px 10px 35px;
    position:relative;
    margin-bottom:20px;
}
.es-carousel{
    overflow:hidden;
}
.es-carousel ul{
    display:none;
}
.es-carousel ul li{
    height:100%;
    float:left;
    display:block;
}
.es-carousel ul li a{
    display:block;
    padding: 15px 9%;
    border: 1px solid #a1a1a1;
    -webkit-touch-callout:none;
    /* option */
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.es-carousel ul li.selected a{
    border-color:#e4282f;
}
.es-carousel ul li a img{
    display:block;
    width: 100%;
    max-width: 125px;
    max-height: 105px;
    border: 1px solid #a1a1a1;
}
.es-nav span{
    position:absolute;
    top:50%;
    left:8px;
    background: url("../images/inner_slider/triagle_inner_slider_left.png") no-repeat;
    width:14px;
    height:34px;
    margin-top:-17px;
    text-indent:-9000px;
    cursor:pointer;
}
.es-nav span.es-nav-next{
    right:8px;
    left:auto;
    background: url("../images/inner_slider/triagle_inner_slider_right.png") no-repeat;
}
/*----------------------------------------------------------------------------------*/
/*--------------------------------RESPONSIVE----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (max-width: 980px){
    .list-works-example .name {
        font-size: 18px;
    }
    .main {
        padding-right: 5px;
    }
    .btn-menu {
        display: block;
    }
    .tbl-toggle {
        display: none;
    }
    .tbl-toggle li,
    .tbl-toggle li:first-child {
        display: block;
        float: none;
        margin-left: 13px;
    }
    .tbl-toggle li:before {
        content: '';
        display: none;
    }
    .wrap-header, .wrap-footer {
        padding: 0 7px;
    }
    .nav-footer {
        margin: 0 0 25px 0;
    }
    .nav-footer li {
        margin-bottom: 5px;
    }
    .nav-footer li a {
        font-size: 13px;
    }
    .nav-footer .btn-menu,
    .nav-footer .tbl-toggle {
        text-align: right;
    }
    .contact-header {
        margin-top: 0;
    }
    .contact-header .top li {
        display: block;
        margin: 0 0 10px 0;
        text-align: left;
    }
}
@media screen and (max-width: 950px) {
    .box-advantages .wrap-form {
        float: none;
        margin: 0 auto 35px;
    }
}
@media screen and (max-width: 870px) {
    .list-works-example .name {
        font-size: 15px;
    }
    .list-working li {
        width: 22%;
    }
    .list-review .text {
        font-size: 16px;
    }
    .list-review .name {
        font-size: 19px;
    }
    .description-slide .header {
        font-size: 52px;
    }
    .description-slide .middle {
        font-size: 30px;
    }
    .description-slide .bottom {
        font-size: 22px;
    }
}
@media screen and (max-width: 750px){
    .list-working li {
        width: 24%;
    }
    #toggle-btn-side-bar {
        display: block;
    }
    .wrap-side-bar {
        position: absolute;
        margin-left: -188px;
    }
    .main {
        margin-left: 35px;
    }
    .header .wrap {
        overflow: hidden;
        margin-bottom: 20px;
    }
    .header .right-colum {
        margin-top: 10px;
    }
    .contact-header .top li {
        float: left;
        margin: 0 25px 10px 0;
    }
    .contact-header .top li:last-child {
        margin-right: 0;
    }
    .tbl-reasons th {
        font-size: 22px;
    }
    .tbl-reasons td {
        font-size: 18px;
    }
    .box-review .wrap-form {
        float: none;
        margin: 0 0 35px 0;
    }
    .wrap-list-review {
        overflow: hidden;
    }
}
@media screen and (max-width: 650px){
    .jcarousel-pagination {
        bottom: 20px;
    }
    .description-slide .header {
        font-size: 46px;
    }
    .description-slide .middle {
        font-size: 25px;
    }
    .description-slide .bottom {
        font-size: 20px;
    }
}
@media screen and (max-width: 600px){
    .header-page h1,
    .header-page h2,
    .header-page span {
        font: 34px 'pfbeau';
    }
    .list-working .description {
        font-size: 16px;
    }
    .tbl-reasons th {
        font-size: 19px;
    }
    .tbl-reasons td {
        font-size: 15px;
    }
    .footer .top {
        overflow: hidden;
    }
    .logo-footer {
        margin-bottom: 35px;
    }
    .footer .contact-box {
        position: relative;
        bottom: auto;
        right: auto;
    }
}
@media screen and (max-width: 550px){
    .list-good li {
        width: 48%;
    }
    .list-good li:nth-child(2n + 1),
    .list-works-example li:nth-child(2n + 1) {
        margin-left: 0;
    }
    .header-page h1,
    .header-page h2,
    .header-page span {
        font: 32px 'pfbeau';
    }
    .description-slide .middle {
        margin-bottom: 15px;
    }
    a.see-more, .desc-list {
        font-size: 15px;
    }
    .list-works-example li {
        width: 49%;
    }
}
@media screen and (max-width: 470px){
    .main-logo {
        float: none;
        display: block;
        text-align: left;
        margin-bottom: 30px;
    }
    .header .right-colum {
        float: none;
        margin-bottom: 20px;
    }
    .list-good .wrap {
        font-size: 16px;
    }
    .list-working li {
        width: 32%;
    }
    .list-review li {
        float: none;
        width: 90%;
        margin: 0 0 25px;
    }
    .jcarousel-pagination {
        bottom: 10px;
    }
    .description-slide .header {
        font-size: 40px;
    }
    .description-slide .middle {
        margin-bottom: 10px;
        font-size: 22px;
    }
    .description-slide .bottom {
        font-size: 18px;
    }
    .list-good .price {
        font-size: 24px;
    }
}
@media screen and (max-width: 420px){
    .sub-header h2 {
        font: 22px 'pfbeau';
    }
    .size-foto {
        font: 16px 'pfbeau';
    }
    .list-our-advantages li {
        float: none;
        width: auto;
        margin-left: 0;
    }
    .wrap-advantages .name-block {
        font-size: 27px;
    }
    .header-page h1,
    .header-page h2,
    .header-page span {
        font: 30px 'pfbeau';
    }
    .tbl-reasons th {
        font-size: 17px;
    }
    .tbl-reasons td {
        font-size: 14px;
    }
    .tbl-reasons th,
    .tbl-reasons td {
        padding: 12px 0 12px 20px;
    }
    .description-slide .wrap > div {
        vertical-align: top;
    }
    .description-slide .middle {
        font-size: 20px;
    }
    .description-slide .header {
        font-size: 36px;
    }
    .description-slide .bottom {
        font-size: 16px;
    }
    .jcarousel-control-prev {
        left: 5px;
    }
    .jcarousel-control-next {
        right: 5px;
    }
    .wrap-form {
        padding: 20px 15px;
    }
}
@media screen and (max-width: 350px){
    .wrap-form {
        width: 230px;
    }
    .list-good .wrap {
        font-size: 14px;
    }
    .list-working li {
        width: 100%;
    }
    .list-working .wrap {
        margin: 0 auto;
    }
    .logo-footer {
        width: 150px;
    }
    .logo-footer img {
        width: 100%;
    }
    .logo-footer span {
        font-size: 8px;
        letter-spacing: 0.3px;
    }
}